body {
  margin: 0;
  background-color: white;
  color: black;
  font-size: 16px;
}

#root {
  width: 100%;
  text-align: center;
}

img {
  width: 50px;
  height: auto;
}

button {
  font-size: 13px;
  padding: 2px 6px;
  color: black;
  background-color: buttonface;
  border: 1px solid gray;
  border-radius: 0;
}

input {
  font-size: 13px;
  padding: 2px;
  color: black;
  background-color: white;
  border: 1px solid gray;
}

footer button {
  width: 100%;
}